#class-years-spinner {
    float: none;
    position: relative;
    top: -3px;
}

#postcustomstuff table input {
    width: 93%;
}

.refresh-stats {
    margin-bottom: 10px;
}

#post-body-content {
    margin: 0;
}